<form role="form">
  <div class="form-group">
    <label for="elasticproject">ElasticSearch Project ID:</label>
    <input type="text" class="form-control" id="elasticproject" ng-model="config.elasticproject" placeholder="IC%20Test%20Application" />
  </div>
  <div class="form-group">
    <label for="elasticserver">ElasticSearch Server URL:</label>
    <input type="text" class="form-control" id="elasticserver" ng-model="config.elasticserver" placeholder="http://localhost:9200/" />
  </div>
  <div class="form-group">
    <label for="elasticloglevel">ElasticSearch Error Level:</label>
    <input type="text" class="form-control" id="elasticloglevel" ng-model="config.elasticloglevel" placeholder="Error" />
  </div>
 </form>